@media screen
{
	button > a
	{
		color: white;
	}
	
	img, .img-responsive
	{
		max-width: 500px;
	}
	
	.row > div
	{
		margin-left:15px;
		margin-right:15px;
	}
	
	.container-main 
	{
		margin-top:50px;
		padding-left:0;
		padding-right:0;
	}
	
	.header 
	{
		background-color:rgba(34, 34, 34, 0.5);
		color:#9d9d9d;
		width:100%;
		margin-bottom: 25px;
		margin-top: 25px;
		padding: 15px;
	}
	
	.header > h3
	{
		margin:0;
		color:white;
	}
	
	.home-bg {
		background:url("../images/backgrounds/Snoqualmie.png") no-repeat center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	#home_body
	{
		background-color:lightgrey;
		height: 100%;
	}
	
	#home_container
	{
		padding:0;
		height:100%;
	}
	
	#phone_headroom
	{
		padding-top:20%;
	}
	
	#container_profile_img
	{
		margin-top:15%;
	}
	
	#img_profile
	{
		display: inline-flex;
		height: 50%;
		width: 50%;
		max-height: 250px;
		max-width: 250px;
	}
	
	#navfluid
	{
		padding-left:15px;
	}
	
	.home-nav 
	{
		margin-top:50px; 
		text-align:center;
	}

	.info-container
	{
		width:150px;
		height:150px;
		float:left;
		text-align:center;
		margin:15px;
		padding-top:30px;
		overflow:scroll;
		cursor:pointer;
	}
	
	.info-container > .active
	{
		width:80%;
		height:80%;
	}
	
	.info-header
	{
		font-family:"Trebuchet MS", Helvetica, sans-serif;
		color:#505050;
	}
	
	.info-inner
	{
		display:none;
		padding-left:15px;
		padding-right:15px;
		font-size:1.2em;
	}
	
	.info-inner > img
	{
		display:block;
		margin:auto;
		max-height:200px;
		max-width:80%;
	}
	
	.info-inner > .img-sports
	{
		max-height:100px;
	}
	
	#info_profile
	{
		background-color:#FF9900;
	}
	
	#info_snowboard
	{
		background-color:#A14472;
	}
	
	
	#info_music
	{
		background-color:#008AE6;
	}
	
	
	#info_sports
	{
		background-color:#4AB86E;
	}
	
	
	#info_gaming
	{
		background-color:#FFCC00;
	}
	
	.carousel
	{
		margin-top: 100px;
		text-align:center;
	}
	
	.carousel-inner 
	{
		margin:auto;
		width:60%;
	}
	
	.carousel-inner > .item
	{
		min-height:400px;
		margin:auto;	
		text-align:left;
	}
	
	.carousel-inner > .item > img
	{
		max-height:200px;
		max-width:60%;
	}
	
	.carousel-indicators
	{
		top:-50px;
		max-height:50px;
		width:90%;
		left:35%;
	}
	
	.carousel-indicators > li 
	{
		height:30px;
		width:30px;
	}
	
	.carousel-indicators > li:hover
	{
		height:35px;
		width:35px;
	}
	
	.carousel-indicators > li > img
	{
		position:relative;
		left:0px;
		text-indent:0px;
		width:25px;
		height:25px;
	}
	
	.carousel-indicators > .active
	{
		height:30px;
		width:30px;
		border-bottom: 3px solid #333;
		border-radius:0;
	}
	
	.panel-heading
	{
		font-weight:bold;
	}
	
	.rotate180 {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	.img-project
	{
		align:middle;
		margin:auto;
	}
	
	#btn_medallia
	{
		background:url("../images/logos/MedalliaLogo.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_infospace, #btn_opsdash
	{
		background:url("../images/logos/InfospaceLogo.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_uw, #btn_mrss
	{
		background:url("../images/logos/uwLogo.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_otherJobs
	{
		background:url("../images/default/record.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_srproj
	{
		background:url("../images/logos/cwuLogo.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_webski
	{
		background:url("../images/logos/webbskiLogo.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_chef
	{
		background:url("../images/logos/chefLogo.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_wavefront
	{
		background:url("../images/logos/wavefrontLogo2.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_docker
	{
		background:url("../images/logos/dockerLogo.png") no-repeat scroll center;
		background-size: 100%;
	}
	
	#btn_alertmgmt
	{
		background:url("../images/logos/goIcon.png") no-repeat scroll center;
		background-size: 100%;
	}
}

@media handheld
{
	img#snow
	{
		width:125px;
		margin-left:0;
		margin-top:-10px;
	}
}