<br />
<div class="container-fluid container-main" ng-controller="PapersController">
	<div class="row">
		<div class="col-md-4"></div>
		<div id="papers_container" class="col-md-4">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Autonomous Driving - June, 2011</h3></div>
					<div class="panel-body">
						<p id="projPar">
							Autonomous Driving. What are the risks? What new moral delemas will it introduce?
							This paper investigates the benefits and problems surrounding autonomous driving 
							and takes a look into legislation concerning the new technology.
						</p>
						<div class="panel-body">
							<button type="button" class="btn-primary">
								<a href="./documents/AutoDrivingPresentation.pdf" target="_blank">
									<u>View Presentation</u>
								</a>
							</button>
						</div>
						<div class="panel-body">
							<button type="button" class="btn-primary">
								<a href="./documents/AutoDrivingPaper.pdf" target="_blank">
									<u>View Paper</u>
								</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>